<div class="container">
  <h1>All our Flats (<%= @flats.length  %>)</h1>
  <div class="d-flex flex-row m-3">
    <% @flats.each do |flat| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= flat.name %></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= flat.address  %></h6>
          <div class="d-flex flex-row mb-3">
              <div class="p-2"><i class="fa-solid fa-user"> <%= flat.number_of_guests %></i></div>
              <div class="p-2"><i class="fa-solid fa-euro-sign"> <%= flat.price_per_night %></i></div>
          </div>
          <%= link_to 'More info', flat_path(flat) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
